body{
  background-color: moccasin
}
h1 {
  
 color: maroon;
}
ul.a {
  list-style-type:disk
}
ul.b{
  list-style-type:decimal
} 
img{
  width:35%;
  float: right
}
a:link{
  color:red
}
a:visited{
  color:pink
}
